
.DS_Store

pegacorn-petasos-core/.factorypath

pegacorn-petasos-datasets/.factorypath

pegacorn-petasos-model/.factorypath

*.class

pegacorn-petasos-cachemaps/target/maven-archiver/

pegacorn-petasos-cachemaps/target/maven-status/maven-compiler-plugin/compile/default-compile/

pegacorn-petasos-cachemaps/target/

pegacorn-petasos-core/target/maven-archiver/

pegacorn-petasos-core/target/maven-status/maven-compiler-plugin/compile/default-compile/

pegacorn-petasos-core/target/

pegacorn-petasos-audit/target/

pegacorn-petasos-datasets/target/classes/

pegacorn-petasos-datasets/target/test-classes/

pegacorn-petasos-edge-gossiprouter/target/

pegacorn-petasos-wup/target/

pegacorn-petasos-workshop/target/

pegacorn-petasos-processingplant/target/

pegacorn-petasos-model/target/test-classes/

pegacorn-petasos-model/target/

pegacorn-petasos-edge-restful/target/

pegacorn-petasos-edge-model/target/

pegacorn-petasos-edge-messaging/target/

pegacorn-petasos-edge-endpoints/target/
